@media (max-width: 992px) { 
    .col-12{
        display: block;   
    }

    .col-3{
        width: 50%;
        height: 40%;
        
    }

    .col-6{    
        width: 100%;
    }
}

@media (max-width: 576px){
    .col-12{
        display: block;   
    }
    
    .col-3{
        font-size: 15px;
        width: 62%;
        height: 67%;
        padding: 6px;
    }

   
    .col-6{    
        width: 100%;
    }
}



